<!DOCTYPE html>
<html>

<head>
    <script>
        function subst() {
            var vars = {};
            var query_strings_from_url = document.location.search.substring(1).split('&');
            for (var query_string in query_strings_from_url) {
                if (query_strings_from_url.hasOwnProperty(query_string)) {
                    var temp_var = query_strings_from_url[query_string].split('=', 2);
                    vars[temp_var[0]] = decodeURIComponent(temp_var[1]);
                }
            }
            var css_selector_classes = ['page', 'frompage', 'topage', 'webpage', 'section', 'subsection', 'date', 'isodate', 'time', 'title', 'doctitle', 'sitepage', 'sitepages'];
            for (var css_class in css_selector_classes) {
                if (css_selector_classes.hasOwnProperty(css_class)) {
                    var element = document.getElementsByClassName(css_selector_classes[css_class]);
                    for (var j = 0; j < element.length; ++j) {
                        element[j].innerHTML = vars[css_selector_classes[css_class]];
                    }
                }
            }
        }
    </script>

    <style>
        body {
            font-family: sans-serif;
            border: 0;
            margin-top: 100px;
        }

        .footer {
            margin-top: 100px;
            font-size: 12px;
            color: #222;
        }

        table {
            width: 100%;
        }

        .page-number {
            text-align: right;
            color: #888;
        }

        .page-number .current-page {
            color:#222;
        }
    </style>

</head>

<body onload="subst()">

    <table class="footer">
        <tr style="vertical-align: middle;">
            <td>
                <span class="doctitle"></span>
            </td>
            <td class="page-number">
                <span class="current-page page"></span> of <span class="topage"></span>
            </td>
        </tr>
    </table>

</body>

</html>